# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/
ENV/

# ==========================================
# Variables de entorno
# ==========================================

.env
.env.*

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Sistema operativo
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log