<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Museo UNAM Hoy | Analizador de imágenes</title>

    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- ==========================================
     FONDO ANIMADO
     ========================================== -->

    <div class="animated-background">

        <div class="background-gradient"></div>

        <div class="orb orb-1"></div>
        <div class="orb orb-2"></div>
        <div class="orb orb-3"></div>


        <div class="grid"></div>

        <!-- Elementos decorativos -->
        

        <div class="floating-icon icon-1">
            <img
                src="{{ url_for('static', filename='images/iconos/+ amarillo.png') }}"
                alt=""
            >
        </div>

        <div class="floating-icon icon-2">
            <img
                src="{{ url_for('static', filename='images/iconos/+ azul.png') }}"
                alt=""
            >
        </div>

        <div class="floating-icon icon-3">
            <img
                src="{{ url_for('static', filename='images/iconos/+ verde.png') }}"
                alt=""
            >
        </div>

      
        <div class="floating-shape shape-1">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-2">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-3">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-4">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-5">
            <div class="pixel-dust"></div>
        </div>
    </div>



<!-- ==========================================
     HEADER
     ========================================== -->

   <header class="header">

    <div class="header-container">
         <div class="header-brand">
            <img
                src="{{ url_for('static', filename='images/logos/logo_unam.png') }}"
                class="header-logo-unam"
                alt="UNAM"
            >
            <span class="header-separator"></span>

            <img
                src="{{ url_for('static', filename='images/logos/logo_ceiich.svg') }}"
                class="header-logo-museo"
                alt="CEIICH"
            >

            <span class="header-separator"></span>

            <img
                src="{{ url_for('static', filename='images/logos/logo_museo-iisue.png') }}"
                class="header-logo-museo"
                alt="Museo UNAM Hoy"
            >
        </div> 

        <nav class="header-actions">

            <a href="/" class="header-link active" >
                <span class="enter-button-icon">
                    🏠
                </span>
                Inicio
            </a>
        </nav>

    </div>

</header>



<!-- ==========================================
     CONTENIDO
     ========================================== -->

<div class="home-logos">

    <img
        src="{{ url_for('static', filename='images/logos/i+IA.png') }}"
        class="home-logo-iia"
        alt="i+IA"
    >

    <img
        src="{{ url_for('static', filename='images/logos/Dimi.png') }}"
        class="home-logo-dimi"
        alt="Dimi"
    >

</div>

<main class="container">

    <section class="hero" style="padding-top: 40px;">
        <div align="center"><h1>
            Descubre lo que hay en una imagen.
        </h1></div>
    </section>

    <section class="video-container">
        <iframe
            class="home-video"
            src="https://www.youtube.com/embed/vT40NJm94zg?si=LxGfos8nonDautkB"
            title="Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </section>

    <div class="home-action">
        <a href="/analizador" class="enter-button">
            <span class="enter-button-text">
                ENTRAR
            </span>
        </a>
    </div>

</main>
<!-- ==========================================
     FOOTER
     ========================================== -->

<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <div class="footer-logo">
                UNAM
            </div>

            <span>
                MUSEO UNAM HOY
            </span>

        </div>


        <span class="footer-copy">
            AI Analyzer © 2026
        </span>

    </div>

</footer>



<script
    src="{{ url_for('static', filename='app.js') }}"
></script>

</body>

</html>
