<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Museo UNAM Hoy | Analizador de imágenes</title>

    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- ==========================================
     FONDO ANIMADO
     ========================================== -->

    <div class="animated-background">

        <div class="background-gradient"></div>

        <div class="orb orb-1"></div>
        <div class="orb orb-2"></div>
        <div class="orb orb-3"></div>


        <div class="grid"></div>

        <!-- Elementos decorativos -->


       <!-- ==========================================
     RED DECORATIVA
     ========================================== -->

<div class="neural-network" aria-hidden="true">

    <svg
        class="neural-lines"
        viewBox="0 0 1000 700"
        preserveAspectRatio="none"
    >

        <!-- ICONO 1 → RAMAS -->

        <path d="M90 135 L170 120 L215 110"></path>
        <path d="M90 135 L145 190 L205 190"></path>

        <rect class="node-1" x="215" y="103" width="14" height="14"></rect>
        <rect class="node-2" x="205" y="183" width="14" height="14"></rect>


        <!-- RAMA EXTRA -->

        <path d="M205 190 L260 225 L315 225"></path>

        <rect  class="node-3"x="315" y="218" width="14" height="14"></rect>


        <!-- ICONO 2 → RAMAS -->

        <path d="M892 250 L820 220 L765 220"></path>
        <path d="M892 250 L835 315 L775 315"></path>

        <rect class="node-4" x="751" y="213" width="14" height="14"></rect>
        <rect class="node-5" x="761" y="308" width="14" height="14"></rect>


        <!-- RAMA EXTRA -->

        <path d="M775 315 L720 350 L665 350"></path>

        <rect class="node-6" x="651" y="343" width="14" height="14"></rect>


        <!-- ICONO 3 → RAMAS -->

        <path d="M120 520 L190 500 L245 500"></path>
        <path d="M120 520 L175 585 L235 585"></path>

        <rect class="node-7" x="245" y="493" width="14" height="14"></rect>
        <rect class="node-8" x="235" y="578" width="14" height="14"></rect>


        <!-- RAMA EXTRA -->

        <path d="M235 585 L285 620 L345 620"></path>

        <rect class="node-9" x="345" y="613" width="14" height="14"></rect>

    </svg>


    <!-- ICONO 1 -->

    <div class="floating-icon icon-1">
        <img
            src="{{ url_for('static', filename='images/iconos/+ amarillo.png') }}"
            alt=""
        >
    </div>


    <!-- ICONO 2 -->

    <div class="floating-icon icon-2">
        <img
            src="{{ url_for('static', filename='images/iconos/+ azul.png') }}"
            alt=""
        >
    </div>


    <!-- ICONO 3 -->

    <div class="floating-icon icon-3">
        <img
            src="{{ url_for('static', filename='images/iconos/+ verde.png') }}"
            alt=""
        >
    </div>

</div>
<!-- ==========================================
    ELEMENTOS DECORATIVOS
     ========================================== -->

      
        <div class="floating-shape shape-1">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-2">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-3">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-4">
            <div class="pixel-dust"></div>
        </div>

        <div class="floating-shape shape-5">
            <div class="pixel-dust"></div>
        </div>
    </div>



<!-- ==========================================
     HEADER
     ========================================== -->

   <header class="header">

    <div class="header-container">
         <div class="header-brand">
            <img
                src="{{ url_for('static', filename='images/logos/logo_unam.png') }}"
                class="header-logo-unam"
                alt="UNAM"
            >
            <span class="header-separator"></span>

            <img
                src="{{ url_for('static', filename='images/logos/logo_museo-iisue.png') }}"
                class="header-logo-museo"
                alt="CEIICH"
            >

            <span class="header-separator"></span>

            <img
                src="{{ url_for('static', filename='images/logos/logo_ceiich.svg') }}"
                class="header-logo-museo"
                alt="Museo UNAM Hoy"
            >
        </div> 

        <!-- <nav class="header-actions">

            <a href="/" class="header-link active" >
                <span class="enter-button-icon">
                    🏠
                </span>
                Inicio
            </a>
        </nav> -->

    </div>

</header>



<!-- ==========================================
     CONTENIDO
     ========================================== -->

<div class="home-logos">

    <img
        src="{{ url_for('static', filename='images/logos/logo-final.png') }}"
        class="home-logo-iia"
        alt="i+IA"
    >

    <img
        src="{{ url_for('static', filename='images/logos/mira.png') }}"
        class="home-logo-dimi"
        alt="MIRA"
    >

</div>

<main class="container">

    <section style="padding-top: 40px;">
        <div align="center"><h1 class="titulo">
            ¿Te imaginas cómo la IA interpreta una imagen?
        </h1></div>
    </section>

    <section class="video-container">
        <img
                src="{{ url_for('static', filename='videos/ceiich_pequenio.gif') }}"
                alt="CEIICH"
            >
    </section>

    <div class="home-action">
        <a href="/analizador" class="enter-button" id="btnAnalizador">
            <span class="enter-button-text">
                DESCÚBRELO
            </span>
        </a>
    </div>

</main>
<!-- ==========================================
     FOOTER
     ========================================== -->

<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <div class="footer-logo">
                CEIICH
            </div>

            <span>
                MUSEO UNAM HOY
            </span>

        </div>


        <div class="footer-images">

    <div class="footer-images-first">

        <img
            src="{{ url_for('static', filename='images/footer/mod1.png') }}"
            alt=""
        >

        <img
            src="{{ url_for('static', filename='images/footer/mod2.png') }}"
            alt=""
        >

    </div>

    <img
        src="{{ url_for('static', filename='images/footer/mod3.png') }}"
        alt=""
    >

    <img
        src="{{ url_for('static', filename='images/footer/mod4.png') }}"
        alt=""
    >

    <img
        src="{{ url_for('static', filename='images/footer/mod1.png') }}"
        alt=""
    >

</div>

        <span class="footer-copy">
            MIRA IA © 2026
        </span>

    </div>

</footer>

<script>
    const btnAnalizador = document.getElementById("btnAnalizador");

    btnAnalizador.addEventListener("click", function () {

        let contador = Number(
            localStorage.getItem("contadorVideo") || 0
        );

        console.log("Contador antes:", contador);

        // Guardamos el video que se va a reproducir
        localStorage.setItem("videoActual", contador);

        // Incrementamos para el siguiente clic
        contador = (contador + 1) % 3;

        localStorage.setItem("contadorVideo", contador);

        console.log("Video actual:", localStorage.getItem("videoActual"));
        console.log("Contador siguiente:", contador);
    });
</script>


</body>

</html>
